* {
  font-family: 'Source Code Pro', monospace;
}

body,html {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #f3f3f3;
}

:root {
  --main-color: #83f769;
  --second-color: #04F3A7;
  --accent-color: #b6ff7e;
  --third-color: #B2BEB5 ;
}

.main-color {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.nav-link-custom {
  color: rgb(255, 255, 255)!important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  color: var(--main-color);
  border: 1px solid #fff;
  box-shadow: 2px 2px var(--main-color);
}

a.nav-link-custom:hover {
  color: var(--main-color)!important;
}

.border-circle-green {
  border: 2px solid var(--main-color);
  padding: 3px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

h1 {
  font-weight: 900;
  color: #fff;
}

h2 {
  margin-bottom: 0px;
}

/* home */
div.abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
} 

.shadow-custom {
  text-shadow: 2px 2px #010101;
}


/* btn */
.button-custom {
  box-shadow: 2px 2px #010101;
  transition: 0.3s;
  background-color: #fff;
  border-radius: 20px;
  transition: 0.3s;
}

.button-custom:hover {
  background: var(--main-color);
  color: #fff;

}

.button-custom2 {
  box-shadow: 2px 2px #010101;
  transition: 0.3s;
  /* background: linear-gradient(90deg,var(--main-color), var(--second-color)); */
  background: var(--main-color);

  border-radius: 20px;
  transition: 0.3s;
}

.button-custom2:hover {
  /* background: var(--second-color); */
  color: #fff;
}

.btn-check:focus+.btn, .btn:focus {
  box-shadow: 0 0 0 0.25rem var(--accent-color);
  /* background-color: var(--main-color); */
}


/* about */
.about {
  font-weight: 900!important;
  text-shadow: 3px 3px #070707;
  color: var(--main-color);
  margin-bottom: 15px;
}

.icon-about {
  color: var(--main-color);
}

/* icon */
.icon-custom {
  color: #fff;
  transition: 0.3s;

}
.icon-custom:hover {
  color: var(--main-color)!important;
}

.button-custom3 {
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: 2px 2px #030303;
}

.button-custom3:hover {
  color: #fff;
}


/* progress bar */
.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  background: linear-gradient(90deg,#B0EC81,#04F3A7);
  border-radius: 15px;
}


@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 

/* portfolio */
.portfolio {
  color: var(--main-color);
  text-shadow: 2px 2px #030303;
  font-weight: 900!important;
}

.shadow-card {
  transition: 0.3s;
  /* border: 1px solid var(--second-color); */
}

.shadow-card:hover {
  opacity: 0.5;
}

.bg-portfolio {
  background-color: #bebebe;
}

.bg-img-card {
  width: 100%;
  height: 100%;
  background-image: url("https://picsum.photos") ;
  background-position: center;
  background-repeat: no-repeat;
}

/* services */
.card-service {
  max-width: 500px;
}

.bg-services {
  background-color: #f3f3f3;
}

.services {
  color: var(--main-color);
  text-shadow: 2px 2px #030303;
}

footer {
  background-color: #030303;
}

.material-icons {
  font-size: 50px!important;  /* Preferred icon size */
  color: #bebebe;
}

/* ---- particles.js container ---- */
#particles-js {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* background-color: #b1b1b1; */
  background-color: #bebebe;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}